/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.promoted-product-banner{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

@media all and (max-width:800px){
  .promoted-product-banner{
    flex-flow: column;
  }
}